OPENAI_API_KEY=
OPENAI_API_BASE=
# OpenAI-compatible chat model name. Defaults to a SenseNova free-tier model
# (https://token.sensenova.cn/v1) if left unset.
OPENAI_MODEL=
CUITCCA_API_KEY=
INDEX_SAVE_DIRECTORY='../../data/indexes/'
LOAD_PATH='../../data/temp/'
SAVE_PATH='../../data/upload_files'
FEEDBACK_PATH='../../feedback/'
LOG_PATH='../../log/'
FILE_PATH='../../data/export/'
