fastapi==0.100.1
openai==0.27.8
python-dotenv==1.0.0
uvicorn==0.22.0
zh-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/zh_core_web_sm-3.6.0/zh_core_web_sm-3.6.0-py3-none-any.whl#sha256=252fea460a4e63b0d5d81ee2e2339dc69fb21b6b17e2e5c35df75f5cb6ca33d7
langchain~=0.0.247
pydantic~=1.10.12
starlette~=0.27.0
llama-index==0.7.17
python-multipart==0.0.6
spacy==3.6.0
fastapi_amis_admin==0.6.2
aiosqlite==0.19.0